@import url('http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,800italic,400,800&subset=latin,latin-ext');

$f1: "Open Sans";
$f2: "Bitter", "Tw Cen MT", $f1;
$plainwhite: rgb(255, 255, 255);
$seethru: rgba(255, 255, 255, 0.8);
$shadow: rgba(0, 0, 0, 0.5);
$col1: rgb(64, 38, 25);
$col2: lighten($col1, 25%);
$col3: rgb(106, 160, 194);

body
{
  font-family: $f2;
  background: fixed center no-repeat url('/static/images/preg.jpg');

  h1, h2, h3, h4, h5, h6, nav, thead
  {
    font-family: $f1;
    font-weight: 800;
    font-variant: small-caps;
    color: $col1;
    padding: 0.125em;
    text-align: center;
    padding-right: 3em;
  }

  table
  {
    font: inherit;
    width: 80%;
    margin-left: 10%;

    thead
    {
      tr
      {
        th
        {
          font-family: $f1;
        }
      }
    }

    tbody
    {
      tr
      {
        border: solid 1px $col3;

        td
        {
          text-align: center;
          font-family: $f1;
        }
      }
    }
  }

  nav
  {
    box-shadow: 0 0 0.5em $col3;
    width: 50%;
    margin-left: 25%;
    margin-top: 0em;
    margin-bottom: 1em;
    border-radius: 1em 1em 1em 1em;
  }

  a
  {
    color: $col3;

    &:visited
    {
      color: $col2;
    }
  }

  textarea, input, legend
  {
    font-family: $f1;
    font-weight: 400;
  }

  #main
  {
    background: $seethru;

    .header
    {
      text-shadow: 0.125em 0.125em 0.125em $col2;
    }

    .stuff
    {
      width: 75%;
      margin-left: 12.5%;

      .errorbox
      {
        font-size: 60%;
        width: 40%;
        margin-left: 30%;
        background: $plainwhite;
        box-shadow: 0.5em 0.5em 0.25em $shadow;
        padding: 1em;
      }

      form
      {
        padding: 2em;

        input[type="text"], textarea
        {
          padding: 0.25em;
          padding-left: 1em;
          width: 75%;
          margin-left: 12.5%;
          border-radius: 1em 1em 1em 1em;
          font-weight: bold;
          display: block;
          font-size: 75%;
        }

        textarea
        {
          //  width: 100%;
          height: 7em;
        }

        .buttons
        {
          text-align: center;
          font-family: $f1;

          input
          {
            font-family: $f1;
            font-weight: 800;
            font-size: 50%!important;
          }
        }
      }

      ul.repmenu
      {
        background: $col1;
        list-style: none;
        margin: 0pt;
        padding: 0pt;
        margin-bottom: 2px;

        li
        {
          background: $plainwhite;
          color: $col2;
          margin: 0pt;
          padding: 0pt;
          margin-right: 2px;
          display: inline;

          a
          {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    nav ul
    {
      margin: 0px;
      padding: 0px;
      text-align: center;
      list-style: none;

      li
      {
        display: inline;
        margin-left: 0.125em;
        margin-right: 0.125em;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &:hover
        {
          background-color: $col1;
          color: $plainwhite;
          border-radius: 0.125em 0.125em 0.125em 0.125em;
          box-shadow: -2px -2px 2px $col2;
        }

        a
        {
          text-decoration: none;

          &:hover
          {
            text-decoration: underline;
            color: $plainwhite;
          }
        }
      }
    }
  }

  #footer
  {
    font-size: x-small;
    text-align: right;
    color: $plainwhite;
  }
}
