body {
  font-family: "Liberation Serif", serif;
  color: #402619;
  font-size: 15pt; }
  body a {
    color: #6aa0c2; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Liberation Sans", sans-serif;
    text-align: center;
    color: #9c5c3d;
    font-variant: small-caps;
    page-break-after: avoid;
    font-variant-settings: "diag", "dlig"; }
    body h1:before, body h2:before, body h3:before, body h4:before, body h5:before, body h6:before {
      content: " ";
      background: #6aa0c2; }
  body h1 {
    page-break-before: always; }
  body .cover {
    page-break-after: always;
    border: solid 1px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 20pt;
    page: coverpage; }
  body .toc {
    font-family: "Liberation Sans", sans-serif;
    font-size: 60%;
    page-break-after: always; }
    @media screen {
      body .toc {
        width: 40%;
        margin-left: 30%; } }
    @media print {
      body .toc {
        width: 80%;
        margin-left: 10%; } }
    body .toc h1, body .toc h2, body .toc h3, body .toc h4, body .toc h5, body .toc h6 {
      text-align: left;
      font-variant: normal;
      page-break-after: avoid; }
    body .toc a {
      text-decoration: none; }
    body .toc .lk {
      padding-right: 2em;
      text-align: left; }
      body .toc .lk a {
        content: target-counter(attr(href), page);
        color: #402619;
        font-family: #6aa0c2; }
    body .toc .toctime {
      font-size: 70%;
      font-family: "Liberation Mono", monospace;
      vertical-align: bottom;
      text-align: center;
      margin-top: 5em; }
  body #main .docs {
    font-size: 13pt;
    text-align: justify;
    counter-reset: page 1;
    page: docpage; }
    @media screen {
      body #main .docs {
        width: 50%;
        margin-left: 25%; } }
    body #main .docs .doc {
      font-variant-settings: "diag", "dlig"; }
      body #main .docs .doc .info .single .screenshot {
        page: screenpage;
        width: 100%;
        page-break-before: always;
        page-break-after: always;
        display: block;
        border-radius: 1em 1em 1em 1em;
        box-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.5);
        border: solid 1px #402619; }
        body #main .docs .doc .info .single .screenshot.withtitle {
          string-set: scrtitle attr(alt); }
      body #main .docs .doc .info .double {
        column-count: 2; }
  body #footer {
    page-break-before: always;
    font-size: 7pt;
    text-align: center;
    font-family: "Liberation Mono", monospace; }

@page docpage {
  font-family: "Liberation Mono", monospace;
  font-size: 50%;
  color: #9c5c3d;
  @bottom-right-corner {
    content: counter(page); } }

@page coverpage {
  background: url("../images/preg.jpg") no-repeat center fixed;
  background-image-resolution: 80dpi; }

@page screenpage {
  size: a4 landscape;
  @top-center {
    content: string(scrtitle);
    font-family: "Liberation Sans", sans-serif;
    text-align: center;
    color: #9c5c3d;
    font-variant: small-caps; } }
