%h2 History
%p
  Hard-coded messages, a previous blunder. Unjustifiable, even with a need to translate.
%h2 Response Codes System
%p
  Now the error messages in the database are referred to by codes. Separation of concerns. Retains translatability.
%p
  DB interface for managing responses.
%p
  Dynamic response fields.
%p
  Monoidal responses.
